@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-Italic.ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

.clearfix { 
	content: "";
	display: table;
	clear: both;
}

html, body {
	height: 100%;
}

html {
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0; 
	font-family: 'Karla', 'Helvetica', sans-serif;
	background: #f9f9f9;
	color: #000;
}

/////////////////////
// GENERAL //////////	
/////////////////////

.heading {
	font-weight: bold;
	font-size: 32px;
	padding: 0 0 25px;
	color: #444;
}

.text-block {
	margin: 0 0 30px;

	&:last-child {
		margin: 0;
	}
}

.text {
	font-size: 16px;
	margin: 4px 0 4px;
	line-height: 1.5;
	clear: both;
	color: #444;

	a {
		color: #A93C96;
	}
}

/////////////////////
// SECTIONS /////////	
/////////////////////

.content {
	padding: 60px 20px 60px;
	max-width: 600px;
	margin-left: 200px;

	@media (max-width: 800px) {
		margin-left: 0;
	}
}

.introduction {
	padding: 0 0 75px;
}

.reference {
	padding: 0 0 75px;
}

.colors {
	padding: 0 0 75px;
}

/////////////////////
// ITEMS ////////////	
/////////////////////

.item {
	margin-bottom: 40px;

	.text {
		padding-left: 30px;
	}
}

.item-name {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0 10px;
	color: #444;
}

.no-item {
	font-size: 16px;
	font-style: italic;
	color: #999;
	padding-left: 30px;
}

.item-spec {
	padding-left: 30px;

	h1 {
		color: #4b2d83;
		font-size: 32px;
		letter-spacing: -0.5px;
		margin: 14px 0 34px;
	}

	h2 {
		font-size: 14px;
		margin: 0;
		line-height: 1.5;

		@media (min-width: 1000px) {
			font-size: 15px;
		}
	}

	h3 {
		font-size: 14px;
		line-height: 1.5;
		margin: 0;

		@media (min-width: 1000px) {
			font-size: 15px;
		}
	}

	p {
		font-size: 14px;
		margin: 0 0 21px;
		line-height: 1.5;

		@media (min-width: 1000px) {
			font-size: 15px;
		}
	}

	a {
		color: #000;
		text-decoration: none;
		border-bottom: 1px solid #ccc;

		&:hover {
			color: #a93c96;
			border-bottom: 1px solid #a93c96;	
		}
	}

	select {
		// border-radius: 5px;
		// border: 1px solid #bbb;
		// background: #fff;
		// height: 25px;
		// width: 180px;
		// font-family: 'Karla';
	}
}

/////////////////////
// COLORS ///////////	
/////////////////////

.color-blocks {
	padding: 0 0 25px;

	&:last-child {
		padding: 0;
	}
}

.color-row {
	height: 100px;
	margin: 10px 0 45px;
}

.color {
	float: left;
	margin-right: 16px;

	@media (max-width: 600px) {
		margin-right: 8px;
	}
}

.color-block {
	width: 125px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 2px;

	@media (max-width: 600px) {
		width: 85px;
	}
}

.purple {
	background-color: #4b2d83;
}

.pink {
	background-color: #a93c96;
}

.black {
	background-color: #000;
}

.dark-gray {
	background-color: #333;
}

.light-gray {
	background-color: #bbb;
}

.white {
	background-color: #fff;
	border: 1px solid #ddd;

	.color-description {
		color: #000;
	}
}

.color-description {
	font-size: 14px;
	position: relative;
	left: 8px;
	top: 56px;
	color: #fff;
}

.color-name {
	font-weight: bold;
}

.color-hex {

}



