@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-Italic.ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

.clearfix { 
	content: "";
	display: table;
	clear: both;
}

// html, body {
// 	height: 100%;
// }

html {
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0; 
	font-family: 'Karla', 'Helvetica', sans-serif;
	color: #000;
	font-size: 15px;
}

$color-purple: #4b2d83;
$color-pink: 	#a93c96;
$color-white: 	#ffffff;
$color-lgray: 	#bbbbbb;
$color-dgray: 	#333333;
$color-black: 	#000000;


////////////////////////
// HEADER //////////////
////////////////////////

.header {
	font-weight: bold;
	font-size: 24px;
	color: $color-purple;
	position: absolute;
	left: 265px;
	top: 60px;

	@media (max-width: 600px) {
		left: 40px;
	} 
}


////////////////////////
// NAVIGATION //////////
////////////////////////

.nav {
	position: fixed;
	top: 196px;
	left: 64px;

	@media (max-width: 600px) {
		display: none;
	} 
}

.nav-links {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		font-size: 16px;
		margin-bottom: 15px;
	}

	a {
		text-decoration: none;
		color: $color-purple;
		padding: 6px 9px;
		border-radius: 2px;
	}

	.active {
		font-weight: bold;
		background: #f3f3f3;
	}
}

a.comp-item {
	opacity: 0.5;
}

.comp-items {
	margin: 0 0 0 16px;

	li {
		margin-bottom: 13px;
	}

	a.active {
		// background: transparent;
		color: $color-purple;
		opacity: 1;
		font-weight: normal;
	}
}



////////////////////////
// MAIN ////////////////
////////////////////////

.main {
	margin: 180px 0 240px 285px;
	
	@media (max-width: 600px) {
		margin-left: 40px;
	} 
}

article {
	margin-bottom: 160px;
}

p {
	max-width: 480px;
	line-height: 22px;
}

a {
	color: $color-pink;

	&:visited {
		color: $color-purple;
	}
}

img {
	max-width: 850px;
	margin: 30px 0 60px;
}

h1, h2, h3 {
	color: $color-purple;
	font-weight: bold;
}

h1 {
	font-size: 40px;
	margin: 0 0 32px;
	letter-spacing: -0.5px;
}

h2 {
	font-size: 28px;
	margin: 50px 0 20px;
	letter-spacing: -0.5px;
}

h3 {
	font-size: 20px;
}

hr {
	border-style: solid;
	height: 0;
	width: 850px;
	border: none;
	border-top: 1px solid #ddd;
	margin: 20px 0 50px;
}

table {
	border-collapse: collapse;
}

th, td {
	text-align: left;
	padding: 10px 12px;
}

th {
	padding-bottom: 12px;
}

td {
	height: 40px;
}

tr {
	border-bottom: 1px solid #ddd;
}

.no-dots {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

.table-description {
	width: 350px;
	margin: 0;
}

.button {
	display: inline-block;
	margin: 10px 0 0;
	color: #000;
	text-decoration: none;
	background: #f5f5f5;
	padding: 5px 11px;
	border-radius: 3px;
	border: 1px solid #ccc;
	cursor: pointer;

	&:hover {
		background: #e9e9e9;
		border-color: #999
	}

	&:active {
		box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.1);
	}
}

.button-disabled {
	color: #aaa;
	pointer-events: none;
}

// COLOR TABLE /////////

.color-name {
	width: 120px;
}

.color-color {
	width: 100px;
}

.color-hex {
	width: 100px;
}

.color-usage {
	width: 350px;
}

.color-sample {
	width: 80px;
	height: 40px;
	border-radius: 3px;
	box-sizing: border-box;
}

.color-purple {
	background-color: $color-purple;
}

.color-pink {
	background-color: $color-pink;
}

.color-white {
	background-color: $color-white;
	border: 1px solid #ddd;
}

.color-lgray {
	background-color: $color-lgray;
}

.color-dgray {
	background-color: $color-dgray;
}

.color-black {
	background-color: $color-black;
}

// TYPOGRAPHY TABLE ////

.type-element {
	width: 300px;
}

.type-specs {
	width: 150px;
}

.type-description {
	width: 350px;
}

.unspecified {
	font-style: italic;
	font-weight: normal;
	font-size: 15px;
	color: #999;
	margin: 10px 0;
}


////////////////////////
// SITE-SPECIFIC ///////
////////////////////////

h1.site, h2.site, h3.site, h4.site, h5.site, p.site {
	margin: 0;
}

h2.site, h3.site, h4.site, h5.site {
	font-size: 15px;
	color: $color-black;
}

h1.site {
	font-size: 32px;
	color: $color-purple;
}

p.site {
	width: 300px;
}



