@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-Italic.ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

// html, body {
// 	height: 100%;
// }

html {
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: 'Karla', 'Helvetica', sans-serif;
	color: #000;
	font-size: 16px;
}

.code {
	font-family: 'Roboto Mono';
	font-size: 13px;
	color: #444;
}

.code-box {
	padding: 16px 22px;
	background: #f3f3f3;
	box-sizing: border-box;
	max-width: 520px;
	margin: 30px 0 10px;
	border-radius: 2px;
}

.code-title {
	font-weight: bold;
	margin-bottom: 2px;

	&:not(:first-child) {
		margin: 16px 0 2px;
	}
}

$color-purple:	#4b2d83;
$color-pink:	#a93c96;
$color-beige:	#a09986;
$color-white: 	#ffffff;
$color-lgray: 	#cccccc;
$color-mgray:	#666666;
$color-dgray: 	#333333;
$color-black: 	#000000;


////////////////////////
// HEADER //////////////
////////////////////////

.header {
	background-color: $color-white;
	height: 30px;
	position: relative;
}

.uw-logo {
	position: absolute;
	height: 75%;
	bottom: 0;
	left: 56px;
	margin: 0;

	@media (max-width: 600px) {
		left: 28px;
	}
}

.uw-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
	position: absolute;
	right: 38px;
	top: 15%;

	li {
		display: inline;
		color: $color-mgray;
	}

	li > a {
		color: $color-mgray;
		text-decoration: none;
		border-bottom: none;

		&:hover {
			text-decoration: underline;
		}
	}

	@media (max-width: 960px) {
		display: none;
	}
}

.soa-logo {
	position: absolute;
	width: 440px;
	top: 40px;
	left: 60px;
}


////////////////////////
// NAVIGATION //////////
////////////////////////

.nav {
	position: fixed;
	top: 170px;
	left: 54px;

	@media (max-width: 600px) {
		display: none;
	}
}

.nav-fixed {
	position: fixed;
	top: 64px;
}

.nav-links {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		font-size: 16px;
		margin-bottom: 12px;
	}

	a {
		text-decoration: none;
		color: $color-purple;
		padding: 6px 9px;
		border-radius: 2px;
		border-bottom: none;

		&:hover {
			color: $color-pink;
		}
	}

	.active {
		font-weight: bold;
		background: #f3f3f3;
	}
}

a.comp-item {
	opacity: 0.5;
}

.comp-items {
	margin: 0 0 0 16px;

	li {
		margin-bottom: 9px;
	}

	a.active {
		// background: transparent;
		color: $color-purple;
		opacity: 1;
		font-weight: normal;
	}
}



////////////////////////
// INTRO ///////////////
////////////////////////


.screengrabs {
	width: 800px;
	margin: 45px 0 0;
	overflow: hidden;
}

.screengrab {
	display: block;
	float: left;
	width: 48.75%;
	box-sizing: border-box;
	margin: 0 0 2.5%;

	&:nth-child(odd) {
		margin-right: 2.5%;
	}

}

////////////////////////
// MAIN ////////////////
////////////////////////

.main {
	margin: 126px 0 240px 265px;

	@media (max-width: 600px) {
		margin-left: 40px;
	}
}

article {
	margin-bottom: 160px;
	overflow: hidden;
}

p {
	max-width: 520px;
	font-size: 16px;
	line-height: 24px;
}

ul {
	line-height: 24px;
	max-width: 520px;
	padding-left: 20px;
	margin-bottom: 30px;
}

li {
	margin-bottom: 10px;
}

.second-level-list {
	padding-left: 40px;
	margin: 10px 0 10px;

	li {
		margin: 0 0 5px;
	}
}

a {
	color: $color-purple;
	text-decoration: none;
	border-bottom: 1px solid $color-lgray;

	&:visited {
		color: $color-purple;
	}

	&:hover {
		color: $color-pink;
	}
}

img {
	max-width: 850px;
	margin: 30px 0 60px;
}

h1, h2, h3 {
	color: $color-purple;
	font-weight: bold;
}

h1 {
	font-size: 40px;
	margin: 0 0 32px;
	letter-spacing: -0.5px;
}

h2 {
	font-size: 28px;
	margin: 50px 0 20px;
	letter-spacing: -0.5px;
}

h3 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

hr {
	border-style: solid;
	height: 0;
	width: 850px;
	border: none;
	border-top: 1px solid #ddd;
	margin: 30px 0 80px;
}

table {
	border-collapse: collapse;

	.code-box {
		margin: 0;
	}
}

th, td {
	text-align: left;
	padding: 10px 12px;
}

th {
	padding-bottom: 12px;
}

td {
	height: 40px;
}

tr {
	border-bottom: 1px solid #ddd;
}

.no-dots {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.5;

	li {
		margin-bottom: 2px;
	}
}

.table-description {
	width: 350px;
	margin: 0;
}

.download-button {
	display: inline-block;
	margin: 0 0 60px;
	color: $color-dgray;
	text-decoration: none;
	background: #f5f5f5;
	padding: 6px 12px;
	border-radius: 3px;
	border: 1px solid $color-mgray;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.5px;

	&:hover {
		color: $color-dgray;
		background: #e9e9e9;
		border-color: $color-mgray;
	}

	&:active {
		box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	}
}

.download-button-disabled {
	border-color: $color-lgray;
	color: #aaa;
	pointer-events: none;
}

.download-preview-link {
	border: none;
}

.download-preview-img {
	max-height: 175px;
	max-width: 850px;
	margin: 15px 0 0;
}


// COLOR TABLE /////////

.color-name {
	width: 120px;
}

.color-color {
	width: 100px;
}

.color-hex {
	width: 100px;
}

.color-usage {
	width: 350px;
}

.color-sample {
	width: 80px;
	height: 40px;
	border-radius: 3px;
	box-sizing: border-box;
}

.color-purple {
	background-color: $color-purple;
}

.color-pink {
	background-color: $color-pink;
}

.color-beige {
	background-color: $color-beige;
}

.color-white {
	background-color: $color-white;
	border: 1px solid #ddd;
}

.color-lgray {
	background-color: $color-lgray;
}

.color-mgray {
	background-color: $color-mgray;
}


.color-dgray {
	background-color: $color-dgray;
}

.color-black {
	background-color: $color-black;
}


// TYPOGRAPHY TABLE ////

.type-element {
	width: 320px;
}

.type-specs {
	width: 400px;
}

.type-description {
	width: 350px;
}

.unspecified {
	font-style: italic;
	font-weight: normal;
	font-size: 15px;
	color: $color-mgray;
	margin: 10px 0;
}


////////////////////////
// SITE-SPECIFIC ///////
////////////////////////

h1.site, h2.site, h3.site, h4.site, h5.site, h6.site, p.site {
	margin: 0;
}

h1.site {
	font-size: 35px;
	font-weight: bold;
	color: $color-black;
	line-height: 35px;
	letter-spacing: 0.1px;
}

h2.site {
	font-size: 24px;
	font-weight: bold;
	color: $color-black;
	line-height: 35px;
	letter-spacing: -0.5px;
}

h3.site {
	font-size: 20px;
	font-weight: normal;
	color: $color-black;
	line-height: 35px;
	letter-spacing: -0.2px;
}

h4.site {
	font-size: 15px;
	font-weight: bold;
	color: $color-black;
	line-height: 35px;
	letter-spacing: 1px;
}

h5.site {
	font-size: 15px;
	font-weight: bold;
	color: $color-black;
	line-height: 35px;
}

h6.site {
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	color: $color-black;
	line-height: 35px;
}

p.site {
	width: 300px;
}

blockquote.site {
	font-size: 25px;
	line-height: 29px;
	color: $color-black;
	text-align: center;
	letter-spacing: -0.5px;
	padding: 28px 0;
	margin: 0;
}


.tag-text.site {
	font-size: 12px;
	color: $color-mgray;
}

.tag-link.site {
	font-size: 12px;
	color: $color-purple;

	&:hover {
		color: $color-pink;
	}
}


ul.site {
	padding: 0;
	margin: 0;
	line-height: 28px;
	list-style-type: none;

	li {
		padding-left: 24px;
		margin-bottom: 0;
		// margin-bottom: 4px;
	}

	li:before {
		content: "•";
		color: $color-mgray;
		padding-right: 5px;
	}
}

ol.site {
	line-height: 28px;
	margin: 0;

	li {
		margin-bottom: 0;
	}
}


// FORM ELEMENTS ///////

select.site {
	// -webkit-appearance: none;
	// -moz-appearance: none;
	font-family: 'Karla';
	font-size: 0.94rem;
	height: 25px;
	background: $color-white;
	// background: url(images/caret.png) no-repeat right 6px top 8px;
	// background-size: auto 35%;
	border-radius: 5px;
	border: 1px solid $color-lgray;
	padding: 0 6px;
}

.all-forms-container {
	width: 850px;
}

.all-forms {
	margin: 30px 0 60px;
	padding: 30px 0;
	width: 250px;
}

.site-input:not(:last-child) {
	margin-bottom: 30px;
}

.group-label {
	display: block;
	font-size: 0.94rem;
	font-weight: bold;
	color: $color-black;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	margin: 0 0 5px;
}

.input-container {
	font-size: 0.94rem;
}

.input-item {
	margin: 0 0 5px;
}

input[type=text].site {
	border: 1px solid $color-lgray;
	height: 25px;
	box-sizing: border-box;
	padding: 0 6px;
	font-size: 0.94rem;
}

input[type=submit].site {
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: $color-white;
	font-family: 'Karla';
	font-size: 0.88rem;
	font-weight: bold;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	color: #585858;
	border: 1px solid #585858;
	height: 32px;
	padding: 0 10px;

	&:active, &:focus, &:hover {
		background: $color-pink;
		border-color: $color-pink;
		color: $color-white;
	}
}

input[type=submit].site.alt-submit {
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: 'Karla';
	font-size: 0.88rem;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 0;
	color: $color-black;
	background: $color-white;
	border: 1px solid $color-lgray;
	height: 32px;
	padding: 0 12px;
	// outline: none;

	&:active {
		border-color: $color-mgray;
	}
}

.site-button-container {
	width: 850px;
	margin: 30px 0 60px;
}

.button-dark-bg, .button-light-bg {
	box-sizing: border-box;
	width: 300px;
	margin: 0;
	padding: 50px;
	text-align: center;
}

.button-dark-bg {
	background: $color-dgray;
	margin-bottom: 15px;
}

.button-light-bg {
	background: $color-white;
	border: 1px solid #ddd;
}

.site-button {
	display: inline-block;
	box-sizing: border-box;
	padding: 8px 12px 24px;
	height: 32px;
	font-size: 0.88rem;
	font-weight: bold;
	letter-spacing: 0.7px;
	text-transform: uppercase;
}

.site-button-light {
	border: 1px solid $color-lgray;
	color: $color-white;
	background: $color-dgray;

	&:active, &:focus, &:hover {
		background: $color-pink;
		border-color: $color-pink;
		color: $color-white;
	}
}

.site-button-dark {
	border: 1px solid #585858;
	color: #585858;
	background: $color-white;

	&:active, &:focus, &:hover {
		background: $color-pink;
		border-color: $color-pink;
		color: $color-white;
	}
}

.site-breadcrumb {
	cursor: pointer;
	display: inline;
	color: #4b2d83;
	text-decoration: none;
	font-size: 0.75rem;
	letter-spacing: 0.5px;
	font-weight: bold;

	&:hover {
		color: #a93c96;
		border-bottom: 1px solid #ccc;
	}
}

